extends layout

block content
  h1= title
  p Welcome to #{title}
  //
  //input#idName
  //
  //input.className.className2.classNem3
  div#guessThis
  div#canvas
  div#guessDiv
    input(id='input' type='text', name='userGuess', value = '')
    div#guessBox
      ul#listOfGuesses
      div#correctGuess
  canvas#kim.border
