extends layout

block content
  h1= title
  p Welcome to #{title}
  //
  //input#idName
  //
  //input.className.className2.classNem3
  div#guessThis
  div#pane
    div#guessDiv
      div#chatBox.border
        div#guessBox
          ul#listOfGuesses
          div#correctGuess
          input(id='input' type='text', name='userGuess', value = '')
    canvas#kim.border
