extends layout

block content
  h1= title
  p Welcome to #{title}. Press enter to submit.
  //
  //input#idName
  //
  //input.className.className2

  button#newWord(type='button') New Word
  div#guessThis
  div#canvas
  div#guessDiv
    input(class='form-control' type='text', name='nickname', placeholder='Nickname')
    input(class='form-control' type='text', name='userGuess', placeholder='Enter your guess')
    div#guessBox
      ul#listOfGuesses
      div#correctGuess
  canvas#kim.border
