extends layout

block content
  h1= title
  p Welcome to #{title}. Press enter to submit.

  button#newWord(type='button') New Word
  div#guessThis
  input(class='form-control' type='text', name='nickname', placeholder='Nickname')

  div#pane
    div#guessDiv
      div#chatBox.border
        div#guessBox
          ul#listOfGuesses
          div#correctGuess
        input(class='form-control' type='text', name='userGuess', placeholder='Enter your guess')
    canvas#kim.border
    div#userList.border
    div#toolBox.border
