extends layout

block content
  h1= title
  p Welcome to #{title}. Press enter to submit.

  //div#timer
  div
    button#newWord.btn.topbtn New Word
    button#clearCanvas.btn.topbtn Clear Canvas
  div#guessThis
  div#currentDraw
  input(class='form-control' type='text', name='nickname', placeholder='Nickname')
  //button(id='makeDraw') Draw
  //button(id='makeGuess' disabled) Guess
  //
  //p#currentRole You are currently a guesser.
  //p#currentDraw(style='display:none;')

  div#pane

    div#guessDiv
      div#chatBox.border
        div#guessBox
          ul#listOfGuesses
          div#correctGuess
        input(class='form-control' type='text', name='userGuess', placeholder='Enter your guess')
    canvas#kim.border
    div#userList.border
    div#toolBox.border
      div#colorBox
        p#colorButtonLabel Choose your color
        button#redButton.btn.clrbtn Red
        button#blueButton.btn.clrbtn Blue
        button#greenButton.btn.clrbtn Green
        button#blackButton.btn.clrbtn Black
        button#yellowButton.btn.clrbtn Yellow
        button#orangeButton.btn.clrbtn Orange
        button#purpleButton.btn.clrbtn Purple
        button#whiteButton.btn.clrbtn White
      div#sizeBox
        p#sizeButtonLabel Choose your size
        button#smallButton.btn.sizebtn Small
        button#mediumButton.btn.sizebtn Medium
        button#largeButton.btn.sizebtn Large
        button#hugeButton.btn.sizebtn Huge