body {
  background: linear-gradient(lightblue, lightcyan);
  padding: 50px;
  font: 14px Roboto, "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.border {
  border-radius: 10px;
  background-color: white;
  border: 2px solid gray;
  box-shadow: 0 5px 10px black;

}

.form-control {
  display: block;
  padding: 5px;
  margin: 10px 0;
  font-size: 1.2em;
}