body {
  background: linear-gradient(lightblue, lightcyan);
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.border {
  border-radius: 10px;
  background-color: white;
  border: 2px solid gray;
  box-shadow: 0 5px 10px black;

}
#kim {
  float: right;
  margin-right: 10px;
}

#chatBox {
  float: right;
  width: 300px;
  height:500px;
  overflow: scroll;
}

